

* {
       background-color: silver;
    }
    
    img {
        max-width: 100%;
        height: auto;
        width: auto\9;
    }
    
    h2 {
        background-color: red;
    } 





    
    