.App {
<<<<<<< HEAD
  text-align: center;
=======
  text-align: left;
>>>>>>> a498b0a43b5ec745846301b27c5ed7b10f15cf02
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
<<<<<<< HEAD
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
=======
  height: 300px;
}

.App-header {
  background-color: #7fa;
  height: 150px;
  padding: 20px;
  color:red;
>>>>>>> a498b0a43b5ec745846301b27c5ed7b10f15cf02
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
