/* Styles for 16-text-align.html */
#left {
  text-align: left;
}

#center {
  text-align: center;
}

#right {
  text-align: right;
}

/* Styles for 17-tables.html */
table {
  text-align: center; /* Notice how this doesn't align the entire table -- just the text within each cell. */
  margin: auto; /* This centers the table by telling the browser to set equal margins on each side of the element */
}

nav {
  display: inline-block;
}

/* Styles for 07-class-and-ids.html */
.green {
  color: green;
}

#blue {
  color: blue;
}

#centered {
  text-align: center;
}

#bucket {
  color: blue;
}

.rebeccapurp {
  background-color: rebeccapurple;
}

#dosomestuff {
  text-decoration-line: line-through;
}

section {
  border-style: solid;
  border-width: 1em;
}

/*to make ID = # and class = .*/
p2 {
    font-size: 50px;
    color:red;
    font-size: 50px;
}
.firstclass{
    font-stretch: expanded;
    background-image: -webkit-image-set(cross-fade());
    color: palegreen;
    
}
#dostuff{
    text-decoration-line: line-through;
}
#footerstyle{
    border-color: olivedrab;
    border-width: 10px;
    background-color: gray;
    border-style: dotted;
}
#section1style{
    border: orangered;
    border-width: 10px;
    background-color: gold;
    border-style: solid;
}
.style{
    color: dodgerblue;
    font-size: 3em;
}
.tablestyle{
    border: black;
    border-width: 10px;
    background-color: orange;
    border-style: solid;
}
.headstyle{
    border:yellow;
    border-width: 10px;
    background-color: orange;
    border-style: solid;
}
.tablerow{
    border: brown;
    border-width: 10px;
    background-color: orange;
    border-style: solid;}

