.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  padding-bottom: 1em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#cat {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("./vroomCat.gif");
  background-repeat: no-repeat;
  background-size: 100px auto;
}

#reset {
  width: 30vw;
  margin: auto;
  height: 50px;
}