html {
    background-color: #d1e2ff;
}

body {
    font-family: Verdana, sans-serif;
}


.center {
    text-align: center;
}


.display-pic {
    width: 9vw;
    height: auto;
    border-radius: 10px;
}


#picture-grid{
    width: 85%;
    padding: 2%;
    margin: auto;
}

#column {
    border: 2px solid black;
}